
  <!-- Default form register -->



  <mdb-card>
    <mdb-card-body>
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
<!-- Default form register -->
<div class="col-lg-8 mb-4">

<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Billing</p>

    <div class="form-row mb-4">
      <div class="col">
        <!-- First name -->
        <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <!-- Last name -->
        <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
      </div>
    </div>

    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Password -->
    <input type="text" id="defaultRegisterFormPassword" class="form-control" placeholder="Address" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
    </small>

    <!-- Phone number -->
    <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
    </small>

    <!-- Newsletter -->


    <!-- Sign up button -->
    <button mdbBtn color="unique" block="true" class="my-4" type="submit">Next</button>

    <!-- Social register -->


    <hr>

    <!-- Terms of service -->


  </form>
        </div>

        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4 mb-4"> 
          <!--Card-->
          <mdb-card>
            <!--Card content-->
            <mdb-card-body>
              <h4 class="mb-4 mt-1 h5 text-center font-weight-bold">Summary</h4>
  
              <hr />
  
              <dl class="row">
                <dd class="col-sm-8">
                  MDBootstrap UI KIT (jQuery version) - License 6-10 poeple + unlimited projects
                </dd>
                <dd class="col-sm-4">
                  $ 2000
                </dd>
              </dl>
  
              <hr />
  
              <dl class="row">
                <dd class="col-sm-8">
                  Premium support - 2 years
                </dd>
                <dd class="col-sm-4">
                  $ 2000
                </dd>
              </dl>
  
              <hr />
  
              <dl class="row">
                <dd class="col-sm-8">
                  MDB Membership - 2 years
                </dd>
                <dd class="col-sm-4">
                  $ 2000
                </dd>
              </dl>
  
              <hr />
  
              <dl class="row">
                <dt class="col-sm-8">
                  Total
                </dt>
                <dt class="col-sm-4">
                  $ 2000
                </dt>
              </dl>
            </mdb-card-body>
          </mdb-card>
          <!--/.Card-->
        </div>
    </div>

        <!--Grid column-->
      <!--Grid row-->
    </mdb-card-body>
  </mdb-card>