<!-- Section: Blog v.1 -->
<section class="my-5">
    <div class="row">
        <!-- Grid column -->
        <div class="col-lg-5">
            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg"
                    alt="Sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-7">
            <!-- Category 
            <a href="#!" style="color:#880e4f">
                <h6 class="font-weight-bold mb-3">
                    <mdb-icon fas icon="map" class="pr-2"></mdb-icon>Auckland
                </h6>
            </a>-->
            <!-- Post title -->
            <h3 class="font-weight-bold mb-3"><strong>Versace Eros Perfume</strong></h3>
            <!-- Excerpt -->
            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis.
                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis.
                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis.
                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis.
            </p>
            <!-- Post data -->
            <!-- Read more button -->

            <div class="md-form d-flex justify-content-center">
                <label>QTY:</label>
                <input type="number" id="materialContactFormEmail" value="1" aria-label="Search" class="form-control" style="width: 100px">
              </div>
            <div class="d-flex justify-content-center">
                <a mdbBtn color="unique" class="w-75" [routerLink]="['/checkout']" mdbWavesEffect>Purchase</a>
            </div>
        </div>
        <!-- Grid column -->
    </div>
    <hr class="my-5">
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
        [animation]="'slide'">
    </mdb-carousel>
    <!-- Section: Testimonials v.3 -->
    <!-- Section: Testimonials v.3 -->
</section>